<h1> リスト</h1>
<table>
    <thead>
        <tr>
            <th>リスト名</th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td><%= task.status %></td>
            <td><%= task.content %></td>
            <td><%= link_to '詳細', task %>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to '追加', new_task_path %>